.decoration-bar {
	position: relative;
	height: 30px;
	background-color:  rgba(178, 209, 239, 0.267);
	display: flex;
	align-items: left;
	justify-content: left;
	padding-left: 50px;
	margin-bottom: 20px; /* Добавлено, чтобы отодвинуть остальной контент ниже полоски */
}

.decoration-bar span {
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-size: 20px;
	margin-right: 10px;
}
  
.circular-button {
	background: #000;
	position: absolute;
	top: -10px;
	left: -6px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circular-button:hover {
	opacity: 0.6;
}

.circular-button img {
	width: 100%;
	height: auto;
	background: #000;
}

.post-body {
	margin-bottom: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.postInput {
	width: 100%;
}

.news-feed {
	position: center;
	align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(178, 209, 239, 0.267);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.comments-section {
	padding-left: 20px;
	font-size: 15px;
}

h1 {
	padding-top: 30px;
    text-align: center;
	color: #385983;
}

h2 {
	padding-top: 10px;
	color: #385983;
	font-size: 17px;
	padding-left: 20px;
}

h3 {
	font-size: 20px;
	padding-left: 20px;
}

.post {
	max-width: 100%;
	border-radius: 10px;
	background: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

footer {
    margin-top: 10px;
	text-align: right;
	padding-right: 30px;
}

.comment-input {
	width: 50px;
}

.button {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 15px;
	height: 35px;
	width: 200px;
	display:block;
	background: #247FFF;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 35px;
	cursor: pointer;
}

.button:hover {
	background-color: #1f64c5;
	color: #fff;
}

